flask~=3.0.3
flask-smorest
flask-jwt-extended~=4.6.0
flask-sqlalchemy
psycopg2~=2.9.9
psycopg2-binary
python-dotenv~=1.0.1
sqlalchemy~=2.0.37
db~=0.1.1
marshmallow~=3.22.0
passlib~=1.7.4
pyOpenSSL
Flask-Cors~=5.0.0